<Footer class="  w-full bg-gray-300 ">
    <!--newsletter section -->
    <section class="text-center  py-6 ">
        <h3 class="text-lg font-semibold">Subscribe on our newsletter</h3>
        <p class="text-slate-600 text-sm font-light">Get daily news on upcoming offers from many suppliers all over
            the world</p>
        <div class="flex items-center my-3   mx-auto w-[30%] gap-1 rounded-lg">
            <div class="flex items-center bg-white px-2 gap-1 rounded-lg ">
                <i class="fa-regular fa-envelope text-lg text-slate-400"></i>
                <input type="text"
                    class="border-none outline-none py-[0.40rem] px-2 w-full rounded-lg bg-transparen"
                    placeholder="Email">
            </div>
            <button class="bg-customBlue py-[0.40rem] px-4 rounded-lg text-white">Subscribe</button>
        </div>
    </section>
    <!-- links etc section -->
    <section class="bg-white py-10 px-10 flex justify-between capitalize ">
        <!-- logo and social links -->
        <div class="space-y-3">
            <!-- logo -->
            <article class="flex items-center gap-2 cursor-pointer">
                <img class=" bg-contain w-8  bg-customBlue p-2 rounded-lg" src="./Assets/Logo.png" alt="">
                <h3 class="text-2xl text-customBlue font-semibold">Brand</h3>
            </article>
            <p class="w-4/6 text-gray-400 text-sm font-light">Best information about the company gies here but now
                lorem ipsum is</p>
            <div class="text-sm text-white space-x-1">
                <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <i
                        class="fa-brands fa-square-facebook bg-slate-400 duration-500 ease-in-out hover:bg-customBlue p-3 rounded-full"></i>
                </a>
                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                    <i
                        class="fa-brands fa-twitter bg-slate-400 duration-500 ease-in-out hover:bg-black p-3 rounded-full"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                    <i
                        class="fa-brands fa-instagram bg-slate-400 duration-500 ease-in-out hover:bg-red-700 p-3 rounded-full"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
                    <i
                        class="fa-brands fa-linkedin bg-slate-400 duration-500 ease-in-out hover:bg-customBlue p-3 rounded-full"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
                    <i
                        class="fa-brands fa-youtube bg-slate-400 duration-500 ease-in-out hover:bg-red-800 p-3 rounded-full"></i>
                </a>
            </div>

        </div>
        <!-- about  -->
        <div class="flex flex-col gap-1 text-slate-500 font-light ">
            <span class="text-black font-semibold text-">About</span>
            <a href="#">
                About us
            </a>
            <a href="#">
                find store
            </a>
            <a href="#">
                category
            </a>
            <a href="#">
                blogs
            </a>
        </div>
        <!-- partnership -->
        <div class="flex flex-col gap-1 text-slate-500 font-light ">
            <span class="text-black font-semibold text-">partnership</span>
            <a href="#">
                About us
            </a>
            <a href="#">
                find store
            </a>
            <a href="#">
                category
            </a>
            <a href="#">
                blogs
            </a>
        </div>
        <!-- information -->
        <div class="flex flex-col gap-1 text-slate-500 font-light ">
            <span class="text-black font-semibold text-">information</span>
            <a href="#">
                help center
            </a>
            <a href="#">
                money refund
            </a>
            <a href="#">
                shipping
            </a>
            <a href="#">
                contact us
            </a>
        </div>
        <!-- for users -->
        <div class="flex flex-col gap-1 text-slate-500 font-light ">
            <span class="text-black font-semibold text-">for users</span>
            <a href="#">
                login
            </a>
            <a href="#">
                register
            </a>
            <a href="#">
                settings
            </a>
            <a href="#">
                my orders
            </a>
        </div>
        <!-- get app  -->
        <div class="space-y-1">
            <span class="font-semibold"> Get App</span>
            <img class="w-24" src="./Assets/appStore.png" alt="">
            <img class="block w-24" src="./Assets/playStore.png" alt="">
        </div>
    </section>
    <section class="flex justify-between px-5 py-3 capitalize">
        <span>© 2023 Ecommerce. </span>
        <span>
            <!-- img -->
            <img class="inline-block w-6" src="./Assets//regions/region4.png" alt="">
            <!-- label -->
            english
            <!-- icon  -->
            <i class="fa-solid fa-chevron-up block text-sm"></i></span>
    </section>
</Footer>